*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

p {
  font-size: 1.6rem; }

li {
  list-style: none; }

.heading-splash {
  color: #D8D8D8;
  text-shadow: 0.3rem 0.5rem 1rem rgba(11, 11, 10, 0.5); }
  .heading-splash--main {
    font-size: 10rem;
    letter-spacing: 1.5rem; }
  .heading-splash--sub {
    font-size: 2rem;
    letter-spacing: .3rem; }

.heading-profile--main {
  font-size: 4rem;
  font-weight: bold;
  font-variant: small-caps; }

.heading-profile--sub {
  font-size: 2.5rem;
  font-weight: bold; }

.heading-project--main {
  font-size: 2.3rem;
  font-variant: small-caps;
  margin-bottom: 1.5rem; }

.heading-project--sub {
  font-size: 1.8rem;
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 1rem; }

.heading-messages--main {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem; }

.heading-dashboard--main {
  font-size: 3.2rem; }

.heading-dashboard--sub {
  font-size: 2.5rem; }

.heading-card--main {
  font-size: 2.5rem; }

.bg-col-light {
  background-color: #D8D8D8; }

.avatar {
  border-radius: 50%; }
  .avatar--lg {
    max-width: 30rem; }
  .avatar--sm {
    max-width: 10rem; }

.button {
  border-radius: .2rem;
  box-shadow: 0 0.3rem 0.8rem rgba(11, 11, 10, 0.3);
  outline: none;
  overflow: hidden; }
  .button--main {
    background: linear-gradient(to bottom right, #D8D8D8, #817D91);
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    font-variant: small-caps;
    color: #494949; }
    .button--main:hover {
      box-shadow: 0 0.8rem 1.6rem rgba(255, 255, 255, 0.3);
      color: #fff;
      text-decoration: none;
      transition: all 1s; }
    .button--main:active, .button--main:focus {
      background: linear-gradient(to bottom right, #817D91, #D8D8D8); }
  .button--user-action {
    padding: 1rem 1rem;
    background-color: #D8D8D8;
    color: #494949;
    border: 3px solid #817D91;
    font-size: 1.6rem;
    transition: all .3s; }
    .button--user-action:hover {
      box-shadow: 0 0.8rem 1.2rem rgba(11, 11, 10, 0.3);
      background-color: #fff;
      background-color: #F0F93B;
      color: #0b0b0a;
      text-decoration: none;
      font-weight: bold; }
  .button--dashboard {
    border: 2px solid #817D91;
    padding: .5rem;
    font-size: 1.6rem;
    color: #494949; }
    .button--dashboard:hover {
      box-shadow: 0 0.8rem 1.2rem rgba(11, 11, 10, 0.3);
      background-color: #fff;
      background-color: #F0F93B;
      color: #0b0b0a;
      text-decoration: none;
      font-weight: bold; }
  .button:active {
    box-shadow: 0 3rem 0.8rem rgba(129, 125, 145, 0.3);
    background-color: #F0F93B;
    color: #0b0b0a;
    text-decoration: none; }

.card__team {
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(129, 125, 145, 0.5); }

.card__dashboard {
  text-align: center;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(129, 125, 145, 0.5);
  background-color: #fff;
  padding: 2rem 1rem;
  border: 1px solid #D8D8D8; }

.card--icon {
  font-size: 5rem;
  color: #494949; }

.form-editprofile {
  background-color: #D8D8D8;
  padding: 5rem 10rem;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem rgba(129, 125, 145, 0.5); }
  .form-editprofile--label {
    color: #494949;
    font-size: 1.6rem;
    font-weight: bold; }

.form--auth {
  font-size: 1.6rem; }

.navbar {
  overflow: hidden;
  z-index: 100;
  text-align: center;
  background-color: #0b0b0a;
  padding: 1rem 0; }
  .navbar__logobox {
    font-family: "Nunito Sans", sans-serif;
    float: left;
    margin-left: 3rem;
    font-size: 2.5rem;
    color: #494949;
    padding: .2rem 1.2rem;
    background-image: linear-gradient(to bottom left, #817D91, #494949);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    .navbar__logobox .fas {
      background-image: linear-gradient(to top, #817D91, #494949);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
  .navbar__link {
    float: right; }
  .navbar__searchbox {
    width: 25%;
    float: left; }
    .navbar__searchbox .fas {
      color: #494949; }
  .navbar a {
    color: #D8D8D8; }
    .navbar a:link {
      padding: .2rem 1.2rem;
      text-decoration: none;
      font-size: 1.6rem;
      display: inline-block; }
    .navbar a:hover {
      color: #817D91; }

.section-auth {
  position: relative;
  height: 100vh;
  width: 100%;
  color: #494949; }
  .section-auth a {
    color: #0b0b0a; }
  .section-auth__login {
    background: url("./images/auth-bg-1.jpg") no-repeat top center/cover; }
  .section-auth__register {
    background: url("./images/auth-bg-2.jpg") no-repeat top center/cover; }
  .section-auth--inner {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom right, rgba(216, 216, 216, 0.95), rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95), rgba(129, 125, 145, 0.95));
    padding: 5rem 8rem;
    border-radius: 3px;
    box-shadow: 0.3 0.8rem 1rem rgba(73, 73, 73, 0.8);
    border: 1rem solid #494949; }

.section-splash {
  position: relative;
  background: url("./images/splash-bg.jpg") no-repeat center center/cover;
  height: 100vh; }
  .section-splash--inner {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }

.section-profile {
  color: #494949;
  border: 0.5rem #817D91 solid;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(129, 125, 145, 0.5);
  border-radius: .3rem; }
  .section-profile ul {
    font-size: 1.6rem;
    color: #494949;
    line-height: 2;
    font-size: 2rem; }
  .section-profile li {
    margin-bottom: 3px; }
  .section-profile--socials {
    background-color: #D8D8D8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    box-shadow: 0 0.3rem 0.5rem rgba(129, 125, 145, 0.5); }
    .section-profile--socials a {
      color: #494949;
      font-size: 4rem; }
    .section-profile--socials a:hover,
    .section-profile--socials a:active,
    .section-profile--socials a:focus {
      color: #fff; }

.list-item--skill {
  display: inline-block;
  padding: 0 1rem;
  border: 2px solid #817D91;
  border-radius: 3.5rem;
  margin: 2px;
  color: #fff;
  background-color: #817D91; }

.list-item--social {
  display: inline-block;
  margin: 2rem .5rem; }

.project-box {
  box-shadow: 0 0.3rem 0.7rem rgba(129, 125, 145, 0.5);
  padding: 2rem; }

.project-tag {
  font-size: 1.1rem;
  padding: 2px .5rem;
  margin-right: .5rem;
  border: 1px solid #0b0b0a;
  border-radius: 2px; }
  .project-tag--box {
    margin-bottom: 2rem; }
