*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif; }

.navbar {
  overflow: hidden;
  z-index: 100;
  text-align: center;
  background-color: #0b0b0a;
  padding: 1rem 0; }
  .navbar__logobox {
    font-family: "Nunito Sans", sans-serif;
    float: left;
    margin-left: 3rem;
    font-size: 2.5rem;
    color: #494949;
    padding: .2rem 1.2rem;
    background-image: linear-gradient(to bottom left, #817D91, #494949);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
    .navbar__logobox .fas {
      background-image: linear-gradient(to top, #817D91, #494949);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
  .navbar__link {
    float: right; }
  .navbar__searchbox {
    text-align: center;
    width: 25%; }
    .navbar__searchbox .fas {
      color: #494949; }
  .navbar a {
    color: #D8D8D8; }
    .navbar a:link {
      padding: .2rem 1.2rem;
      text-decoration: none;
      font-size: 1.6rem;
      display: inline-block; }
    .navbar a:hover {
      color: #817D91; }

.user-profile--img {
  border-radius: 50%; }

.user-bio {
  font-size: 1.8rem;
  color: #020202; }

.user-heading {
  font-size: 2.4rem;
  color: #020202; }
