.footer {
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    background-color: $color-primary-dark;
    padding: 1rem 10rem;
    font-size: 1.4rem;
    color: $color-primary-light;

    &__logobox {
        text-align: center;
        font-size: $default-font-size;
        @include gradientText(bottom left, $color-primary, $color-primary-light);

        & i {
            @include gradientText(bottom left, $color-primary, $color-primary-light);
        }

        & .logo {
            font-size: $default-font-size;
        }
    }

    &__navigation {
        border-top: 1px solid $color-secondary;
        padding-top: 1rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    & a:link,
    & a:visited {
        color: $color-primary-light;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        }

        & a:hover,
        & a:active {
             color: $color-secondary-light;
        }

        &__copyright {
            border-top: 1px solid $color-secondary;
            padding-top: 1rem;
            width: 70%;
            float: right;
            font-size: 1rem;
        }

}