.navbar {
    overflow: hidden;
    z-index: 100;
    text-align: center;
    background: linear-gradient(to left, $color-primary-dark, $color-black);
    padding: 1rem 0;
    border-bottom: solid 3px $color-secondary;
    height: 8rem;
    &__logobox {
        font-family: $logo-font;
        float: left;
        margin-left: 3rem;
        font-size: 3rem;
        color: $color-primary-dark;
        padding: .2rem 1.2rem;
        @include gradientText(bottom left, $color-primary, $color-primary-light);
        & .fas {
            @include gradientText(top, $color-primary, $color-primary-light);
        }
    }
    &__link {
        float: right;
    }
    &__searchbox {
        width: 25%;
        float: left;
        & .fas {
            color: $color-primary-dark;
        }
    }
    & a {
        color: $color-primary-light;
        &:link {
            padding: .2rem 1.2rem;
            text-decoration: none;
            font-size: 2rem;
            display: inline-block;
        }
        &:hover {
            color: $color-secondary-light;
        }
    }
}