.avatar {
    border-radius: 50%;
    box-shadow: 0 .3rem .5rem rgba($color-primary, .5);

    &--lg {
        max-width: 30rem;
    }

    &--m {
        max-width: 20rem;
    }

    &--sm {
        max-width: 10rem;
    }
}

.logo {
    &--xs {
        max-width: 3rem;
    }
}