.button {
    border-radius: .2rem;
    box-shadow: 0 .3rem .8rem rgba($color-black, .3);
    outline: none;
    overflow: hidden;

    &--splash {
        background: linear-gradient(to bottom right, $color-primary-light, $color-primary);
        padding: 1rem 2rem;

        font-size: 1.8rem;
        font-weight: bold;
        font-variant: small-caps;
        color: $color-primary-dark;

        &:hover {
            box-shadow: 0 .8rem 1.6rem rgba($color-white, .3);

            color: $color-white;
            text-decoration: none;

            transition: all 1s;
        }

        &:active,
        &:focus {
            background: linear-gradient(to bottom right, $color-primary, $color-primary-light);
        }
    }

    &--main {
        border: none;
        padding: .5rem 1rem;
        background: linear-gradient(to bottom right, $color-primary-dark, $color-primary); 
        font-size: $default-font-size;
        color: $color-primary-light;
        transition: all .5s;

        &:hover {
            box-shadow: 0 .8rem 1.2rem rgba($color-black, .3);
            background: linear-gradient(to bottom right, $color-primary-dark, $color-secondary);
            color: $color-white;
            text-decoration: none;
            font-weight: bold;
        }
    }

    &--user-action {
        padding: 1rem 1rem;
        
        background-color: $color-primary-light;
        color: $color-primary-dark;
        border: 3px solid $color-primary;
        font-size: $default-font-size;

        transition: all .3s;

        &:hover {
            box-shadow: 0 .8rem 1.2rem rgba($color-black, .3);
            background-color: $color-white;

            background-color: #F0F93B;
            color: $color-black;
            text-decoration: none;
            font-weight: bold;
        }

    }

    &--dashboard {
        border: 2px solid $color-primary;
        padding: .5rem;
    
        font-size: $default-font-size;
        color: $color-primary-dark;

        &:hover {
            box-shadow: 0 .8rem 1.2rem rgba($color-black, .3);
            background-color: $color-white;

            background-color: #F0F93B;
            color: $color-black;
            text-decoration: none;
            font-weight: bold;
        }
    }

    &:active {
        box-shadow: 0 3rem .8rem rgba($color-primary, .3);

        background-color: #F0F93B;
        color: $color-black;
        text-decoration: none;
    }

}