.card {
    &__team {
        background-color: $color-white;
        padding: .5rem;
        box-shadow: $default-box-shadow;
        color: $color-black;
        border: .5px solid $color-primary;
    }

    &__dashboard {
       text-align: center;
       box-shadow: $default-box-shadow;
       background-color: $color-white;
       padding: 2rem 1rem;
       border: 1px solid $color-primary-light;
       border-radius: 2px;
    }

    &--icon {
        font-size: 8rem;
        @include gradientText(bottom right, $color-primary, $color-primary-dark)
    }

}

