.form {

    &-default {
        font-size: $default-font-size;
        margin: 0 auto;

        & select {
            font-size: $default-font-size;
        }

        & .form-control {
            font-size: $default-font-size;
        }

    & label {
            color: $color-primary-dark;
            font-size: $default-font-size;
            font-weight: bold;
        }
    }

    &--mail {
        width: 90%;
        margin: 0 auto;
    }
}

.add-team {
    border: 1px solid $color-primary;
    margin: 3px;
    padding: 1rem;
}

