$color-primary-light: #f7fbff;
$color-primary: #778899;
$color-primary-dark: #191D21;
$color-secondary-light: #8CDAEA;
$color-secondary: #539CAA;
$color-tertiary: #5368AA;
$color-white: #fff;
$color-black: #0b0b0a;
$logo-font: 'Nunito Sans', sans-serif;
$default-font-size: 1.6rem;
$default-box-shadow: .3rem .3rem .5rem rgba($color-primary-dark, .5);

