$color-primary-light: #D8D8D8;
$color-primary: #817D91;
$color-primary-dark: #494949;
$color-secondary-light: #2F5E48;
$color-secondary: #384740;
$color-white: #fff;
$color-black: #0b0b0a;
$logo-font: 'Nunito Sans', sans-serif;