$color-primary-light: #f7fbff;
$color-primary: #778899;
$color-primary-dark: #494949;
$color-secondary-light: #2F5E48;
$color-secondary: #384740;
$color-white: #fff;
$color-black: #0b0b0a;
$logo-font: 'Nunito Sans', sans-serif;
$default-font-size: 1.6rem;

