.section-dashboard {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom right, rgba($color-primary-dark, .5), rgba($color-primary, .5)),
    url('./images/dashboard-bg.jpg') no-repeat center center/cover;
}
