:root {
  --primary-color: #17a2b8;
  --dark-color: #040404;
}
/* Utilities */
.section-login {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
