.section-profile {

    border: .5rem $color-primary solid;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba($color-primary, .5);
    border-radius: .3rem;

    & ul {
    font-size: $default-font-size;
    color: $color-primary;
    line-height: 2;
    }
}

.skill-list-item {
    display: inline-block;
    padding: .5rem 1rem;
    border: 1px solid $color-primary-light;
}

.social-list-item {
    display: inline-block;
}

