.heading {
    &-splash {
        color: $color-primary-light;
        text-shadow: .3rem .5rem 1rem rgba($color-black, .5);
        &--main {
            font-size: 10rem;
            letter-spacing: 1.5rem;
        }

        &--sub {
            font-size: 2rem;
            letter-spacing: .3rem;
        }
    }

    &-profile {
        &--main {
            font-size: 4rem;
            font-weight: bold;
            font-variant: small-caps;
        }
        &--sub {
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    
    &-project {
        &--main {
            font-size: 2.3rem;
            font-variant: small-caps;

            margin-bottom: 1.5rem;
        }
        &--sub {
            font-size: 1.8rem;
            font-weight: bold;
            font-variant: small-caps;

            margin-bottom: 1rem;
        }
    }

    &-messages {
        &--main {
            font-size: 2.2rem;
            font-weight: bold;

            margin-bottom: 1rem;
        }
    }

    &-dashboard--main {
        font-size: 3.2rem
    }

    &-dashboard--sub {
        font-size: 2.5rem
    }

    &-card--main {
        font-size: 2.5rem;
    }
}